.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: 0;
  background-color: transparent;
  transition: linear 0.1s;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
