.popup__button {
  background-color: #000000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 85%;
  margin: 0;
  padding: 0;
  height: 50px;
  transition: linear 0.1s;
  border: 0;
  position: absolute;
  bottom: 30px;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    height: 46px;
    bottom: 15px;
  }
}
