.profile__add-button {
  background-color: transparent;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 49px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px;
  }
}
