.popup__form-input-error {
  margin: 5px 0 13px;
  height: 12px;
  padding: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}

@media screen and (max-width: 767px) {
  .popup__form-input-error {
    margin-bottom: 10px;
  }
}
